body {
    margin: 0;
    background-color: #FEFAEF !important;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quizCard {
    width: 30rem;
}



nav {
    background-color: #27355C !important;
    font-family: "Rubik", sans-serif;
    padding: 16px;
    
  
}

nav img {
    margin-bottom: 32px;
}
    

nav a {
    color: white !important;
    
}

.questionFooter {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    align-items: center;
    padding-top: 12px;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);

}

.bg-success, .bg-danger {
    color:white !important;
}



.card-body-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}

.card-body-end img {
    height: 80px;
    margin-bottom: 16px;
}

.card-body-end button {
    width: 120px;
}

.card-body-end a {
    text-decoration: none;
    font-size: 20px;
} 

.trophy img {
    height: 150px;
    position: absolute;
    right: 0;
    top: 100px;
}

.quiz {
    display: flex;
}



